body {
	background-image: url("crispBackground.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

.header{
	text-align: center;
}

.navigation{
	text-align: center;
}

.uTube{
	padding: 25px;
	margin-right: auto;
	margin-left: 450px;
	display:block;
	width:700px;
}

.content{
	margin: 0 auto;
	height: 500px;
	width: 300px;
	box - shadow: #254C58 1px 0px;
	border: # 3 C7D91 5 px double;
	overflow: scroll;
}

.fbComments{
	margin-right: auto;
	margin-left: 450px;
	display:block;
	width:700px;
}
